In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("/content/Heart_Disease_Prediction.csv")
df.head()

,persons_age,Gender,Chest_pain,Bloodpressure,Lipid,Vessel count,Heart Stroke
0,70,1,4,130,322,3,Presence
1,67,0,3,115,564,0,Absence
2,57,1,2,124,261,0,Presence
3,64,1,4,128,263,1,Absence
4,74,0,2,120,269,1,Absence

In [4]:

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [5]:
scaler.fit(df.drop('Heart Stroke',axis=1))

StandardScaler()

In [8]:
scaled_features=scaler.transform(df.drop('Heart Stroke',axis=1))

In [11]:
new_data=pd.DataFrame(scaled_features,columns=df.columns[:-1])
new_data

     persons_age    Gender  Chest_pain  Bloodpressure     Lipid  Vessel count
0       1.712094  0.689500    0.870928      -0.075410  1.402212      2.472682
1       1.382140 -1.450327   -0.183559      -0.916759  6.093004     -0.711535
2       0.282294  0.689500   -1.238045      -0.411950  0.219823     -0.711535
3       1.052186  0.689500    0.870928      -0.187590  0.258589      0.349871
4       2.152032 -1.450327   -1.238045      -0.636310  0.374890      0.349871
..           ...       ...         ...            ...       ...           ...
265    -0.267629  0.689500   -0.183559       2.280369 -0.981951     -0.711535
266    -1.147506  0.689500   -1.238045      -0.636310  0.258589     -0.711535
267     0.172309 -1.450327   -1.238045       0.485490  0.859476     -0.711535
268     0.282294  0.689500    0.870928       0.485490 -1.117635     -0.711535
269     1.382140  0.689500    0.870928       1.607289  0.704409      2.472682

[270 rows x 6 columns]

In [17]:
from sklearn.model_selection import train_test_split
x=new_data
y=df['Heart Stroke']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [18]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,CategoricalNB
from sklearn.metrics import confusion_matrix,accuracy_score
disease=[]

In [19]:
classifier=GaussianNB()
classifier.fit(x_train,y_train)
pred=classifier.predict(x_test)

In [20]:
print(accuracy_score(y_test,pred))

0.7530864197530864

In [21]:
print(confusion_matrix(y_test,pred))

[[38 10]
 [10 23]]